.itemContainer {
  display: flex;
  width: 500px;
  height: 3rem;
  border: 1px rgb(212, 212, 212, 0.5) solid;
  font-size: 20px;
  text-align: left;
  text-indent: 10px;
}

.listItemText {
  font-size: 18px;
  width: 100%;
  border: none;
  height: 95%;
  margin: 0 12px 12px 18px;
}

.checkedItems .listItemText {
  text-decoration: line-through;
  color: darkgray;
  transition: all 0.5s ease;
}

.uncheckedItems .listItemText {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

.listItemText:focus {
  border: none;
  margin: 0 12px 12px 18px;
}

.removeItemButton {
  border: none;
  background-color: inherit;
  font-size: 20px;
  margin-right: 12px;
  color: #cc9a9a;
  transition: color 0.3s ease-out;
  position: absolute;
  right: 1px;
  margin-top: 12px;
  cursor: pointer;
}

.removeItemButton:hover {
  color: #af5b5e;
}

/* ************************** */

.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 14px 0 0 15px;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
  transform: translate(-7px, -2px) rotate(45deg);
}

.checkbox-wrapper-39 .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #434343;
  transition: all 0.375s;
  border-radius: 50%;
}
